<h1>Alta Cliente</h1>
<div class="form-group">
  <label for="exampleInputEmail1">Nombre:</label>
  <!-- ngModel per extreure dades del HTML y asignarles a una variable -->
  <input
    type="text"
    [(ngModel)]="nombre"
    class="form-control"
    id="exampleInputEmail1"
    aria-describedby="emailHelp"
    placeholder="Introduce nombre"
  />
</div>
<br />
<div class="form-group">
  <label for="exampleInputPassword1">CIF</label>
  <input
    type="text"
    [(ngModel)]="cif"
    class="form-control"
    id="cif"
    placeholder="Introduce tu CIF"
  />
</div>
<br />
<div class="form-group">
  <label for="exampleInputPassword1">Dirección</label>
  <input
    type="text"
    [(ngModel)]="direccion"
    class="form-control"
    id="exampleInputPassword1"
    placeholder="Introduce tu dirección"
  />
</div>
<br />
<div class="form-group">
  <label for="exampleFormControlSelect1">Grupo</label>

  <select
    [(ngModel)]="grupo"
    class="form-control"
    id="exampleFormControlSelect1"
  >
    <option>1</option>
    <option>2</option>
    <option>3</option>
  </select>
</div>
<br />
<!-- al clicar aquest butó, cridem a la funció GuardarCliente() -->
<button type="submit" (click)="guardarCliente()" class="btn btn-primary">
  Guardar
</button>
<hr />
<!-- Aquí finalitza el component HTML pare -->
<router-outlet></router-outlet>
<div style="text-align: justify">
  <!-- Aquí comença el component HTML fill -->
  <app-listado-clientes [arrayHija]="arrayClientes"></app-listado-clientes>
</div>
